.HomePageContainer {
  max-width: 100%;
}
.HomePagePicture {
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0;
}
.HomePagePictureOpacity {
  background-color: rgba(0, 0, 0, 0.567);
  width: 100%;
  height: 100%;
  box-sizing: unset;
  padding-right: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomePagePictureText {
  font-size: 2.5rem;
  font-weight: bold;
}
