.Card {
  border-radius: 5px;
  margin: 10px 0;
  text-align: left;
}
.CardLink {
  text-decoration: none;
  color: black;
  text-align: unset;
}
.Card:hover {
  box-shadow: 14px 14px 35px 6px #000000af;
}
.CardLink:hover {
  text-decoration: none;
  color: black;
}
.CardTitle {
  font-weight: bold;
}
.CardText {
  color: rgba(0, 0, 0, 0.727);
  font-size: 12px;
}
.CardFooter {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-top: none;
}
.card-img-top {
  height: 200px;
}
.CardBodyCustom {
  height: 230px;
}
