.EventSpaceRow {
  width: 90%;
  margin: 10vh auto;
  text-align: left;
  align-items: center;
}
.EventSpaceTitle {
  color: black;
  font-weight: bold;
}
.EventSpaceText {
  color: rgba(0, 0, 0, 0.541);
  font-size: 15px;
}
.KitchenCol {
  display: flex;
  flex-wrap: wrap;
}
.divFull {
  width: 100%;
  height: 150px;
}
.RowBadge {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.BadgeEventSpace {
  background-color: black;
  color: white;
  padding: 10px 30px;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.BadgeIcon {
  margin-right: 10px;
  color: yellow;
  font-size: 20px;
}
.BadgeDiv {
  display: flex;
  flex-wrap: wrap;
}
