.AboutUsText {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}
.AboutUsAllCards {
  width: 90%;
  margin: 0 auto;
}
.EducationRow {
  align-items: center;
}
.HomePageEducationPicture {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
.EducationLeft {
  padding: 40px 0;
  text-align: left;
}
.EducationTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}
.EducationText {
  color: rgba(0, 0, 0, 0.527);
}
.EventRow {
  width: 100%;
}
.EventButton {
  display: flex;
  justify-content: flex-end;
}
.CoworkingRow {
  flex-wrap: wrap-reverse;
  align-items: center;
}
.PartnersRow {
  width: 100%;
  color: black;
}
.SoldOut {
  padding: 20px;
  margin: 20px 0;
}
.text-trans {
  text-decoration: line-through;
}
.activeButton {
  background-color: yellow;
  color: black;
  border: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.6rem 1.25rem;
}
label {
  font-weight: bold;
  font-size: 12px;
  display: inline;
}
.InvalidFeedback {
  position: absolute;
  top: 0;
  right: -66%;
}
.FormGroupCustom {
  position: relative;
}