.navbar {
  padding: 0.5rem 3rem;
}
.NavLinkCustom {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
  padding: 10px 30px;
}
.NavLinkCustom:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
  border-color: rgb(255, 255, 0);
  background-color: black;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
  padding-right: 1.5rem;
  padding-left: 1rem;
}
.JoinUsButton {
  background-color: black;
  color: yellow;
  border: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.6rem 1.25rem;
  margin: 7px 0;
}
.JoinUsButton:hover {
  background-color: rgba(0, 0, 0, 0.603);
  color: yellow;
  border: none;
}
.JoinUsButton:focus {
  background-color: black;
  color: yellow;
  border: none;
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active {
  border: none;
  background-color: black;
  color: yellow;
  box-shadow: none;
}
.JoinUsButtonPlus {
  padding-right: 1rem;
}
.JoinUsLinkkk {
  display: none;
}
.JoinUsButtonkk {
  background-color: black;
  color: yellow;
  border: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.6rem 1.25rem;
}

@media only screen and (max-width: 425px) {
  .JoinUsLink {
    display: none;
  }
  .JoinUsLinkkk {
    display: block;
  }
}
@media only screen and (max-width: 769px) and (min-width: 425px) {
  .JoinUsLink {
    position: absolute;
    right: 20%;
    top: 0;
  }
}
