.CardAcademy {
  height: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
}
.OvarlayDiv {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
  border-radius: 10px;
}
.AcademyLink {
  text-decoration: none;
  color: inherit;
}
.AcademyLink:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.AcademyCardText {
  position: absolute;
  bottom: 10px;
  color: white;
  display: flex;
  flex-direction: column;
}
.AcademyCardTitle {
  font-size: 2rem;
  color: white;
}
