.FooterRow {
  padding: 5% 0;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap-reverse;
}
.FooterDiv {
  background-color: rgba(128, 128, 128, 0.178);
  border-top: 1px solid gray;
}
.FooterTitles {
  font-size: 1rem;
  font-weight: bold;
  text-align: start;
}
.FooterUl {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 20px;
}
.FooterLink {
  color: black;
  cursor: pointer;
}
.FooterLink:hover {
  color: rgba(0, 0, 0, 0.527);
  text-decoration: none;
}
.FooterSocialMedia {
  font-size: 30px;
}
.FooterCopyRight {
  background-color: lightgray;
  padding: 20px 0;
  align-items: center;
  font-size: 0.5rem;
}
.FooterLi {
  font-size: 14px;
  margin: 10px 0;
}
.LogoFooter {
  text-align: right;
}

@media only screen and (max-width: 575px) {
  .LogoFooter {
    text-align: left;
  }
  .mrg-footer {
    margin: 20px 0;
  }
  .order3 {
    order: 3;
  }
  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
}
