.SpaceBlogNavbar {
  display: flex;
  padding: 0;
  margin: 0 0 10px 4%;
}
.CustomNAv {
  flex-wrap: wrap;
  width: 100%;
}
.SpaceBlogCardsRow {
  width: 90%;
  margin: 0 auto;
}
.ac {
  border-bottom: 1px solid gray;
}
.carousel-caption {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 10%;
  left: 10%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  color: #fff;
  text-align: start;
  padding: 0;
}
.CustomControlIcons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.IConsCarousel {
  display: flex;
}
.carousel-indicators {
  display: none;
}

@media only screen and (max-width: 425px) and (min-width: 425px) {
}
@media only screen and (max-width: 769px) {
  .SpaceBlogNavbar {
    width: 100%;
  }
  .SpaceBlogCarouselTitle {
    font-size: 16px;
    font-weight: bold;
  }
  .SpaceBlogCarouselText {
    font-size: 12px;
  }
  .carousel-control-next,
  .carousel-control-prev {
    top: unset;
    bottom: 0;
  }
}
